.productCard {
  border: 1px solid white;
  width: 400px;
  margin: 10px 0 20px;
  padding: 20px 30px;
}
.productCard a {
  text-decoration: none;
  color: white;
}
.productCard__img {
  width: 400px;
}

.productCard__img img {
    width: 100%;
    object-fit: contain;
  }
.productCard__title{
    margin-top: 5px;
    font-size: 17px;
}
.productCard__details {
  display: flex;
  align-items: center;
  justify-content: space-between;
 
}

.productCard__colorList {
  display: flex;
  align-items: center;
}
.colorList {
  border-radius: 100%;
  margin: 5px;
}
